.login-button{
    display: flex;
    justify-content: flex-end;
    margin : 20px;
}

.login-text{
    margin-left : 5px;
}

.nav-section {
    display: flex;
    justify-content: center;
}
.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.landing-search-box{
    right: 20px;
    position: absolute;
    margin-top: 15px;
  }
  .search-box{
    border-bottom: 1px solid black;
    padding: 5px;
  }
  .search-box input{
    border:none;
    margin-left:5px;
  }
  .search-box input:focus {
    outline:none
  }
  