.login-button{
    display: flex;
    justify-content: flex-end;
    margin : 20px;
}

.login-text{
    margin-left : 5px;
    margin-top: -3px;
}

.nav-section {
    display: flex;
    justify-content: center;
}
.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.landing-search-box{
    right: 20px;
    position: absolute;
    margin-top: 15px;
  }
  .search-box{
    border-bottom: 1px solid black;
    padding: 5px;
  }
  .search-box input{
    border:none;
    margin-left:5px;
  }
  .search-box input:focus {
    outline:none
  }

  .card{
    border:none !important;
    margin-bottom: 10px;
  }
  .card img{
    transition: all 0.2s linear;
  }
  .card:hover img{
    transform: scale(1.04);
  }

  .choice{
    font-size:11px;
    color: #63786a;
    font-weight: bold;
    height: 20px;
  }
  
  .new-product {
    font-size: 11px;
    height: 20px;
  }
  