.title{
    text-align: center;
}

.item-box{
    border : 1px solid lightgray;
    padding: 10px;
}

.item-name{
    font-size: 19px;
    font-weight: bolder;
}

.item-phoneNum{
    font-size: 12px;
    font-weight: 300;
}

.search-area{
    margin-top: 2rem;
}