body{
    background-color: black !important;
    color: white !important;
    width: 100%;
    height: 100%;
}

.netflix-logo{
    margin : 10px;
}
.spiner-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.5rem;
}
.nav-item:hover {
    color: red;
    text-decoration: none;
}
.banner-area{
    width: 100%;
    height: 80vh;
    cursor: pointer;
}
.banner{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner::before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 80vh;
    content: '';
    background: linear-gradient(to right , black, transparent);
    
}

.banner-info{
    width: 40%;
    margin-left: 30px;
    z-index: 1;
}
.banner-info h1{
    font-size : 10vh;
}

.banner-info p{
    font-size: 2vh;
    color: #e5e5e5;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.titles{
    padding: 10px 30px 0px 30px;
    color: #e5e5e5;
}

.carousel-area{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

/* .carousel-area .react-multi-carousel-list {
    overflow: visible !important;
} */

.card-area{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    /* height: 400px;
    width: 500px; */
    padding: 10px;
}
.card-box{
    width: 40vh;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s linear;
}

.overlay{
    opacity: 0;  
    background: rgb(43, 41, 41, 0.9);
    width: 100%;
    height: 250px;
    z-index: 100;
    padding: 30px 20px 20px 20px;
}
.card-info{
    position: fixed;
    bottom: 1vh;
}
.card-info ul{
    list-style: none;
    padding: 0;
    display: flex;
}
.card-info ul li{
    padding-right: 5px;
}
.react-multi-carousel-item{
    z-index: 1;
}
.react-multi-carousel-item:hover {
    z-index: 2;
}
.card-box:hover {
    cursor:pointer;
    -ms-transform: scale(1.2);  /* IE 9 */
    -webkit-transform: scale(1.2);  /* Safari 3-8 */
    transform: scale(1.2); 
    /* transform: translateY( -100px ); */
}

.card-box:hover hr{
    width: 75px;
    transition-delay: .4s;
    opacity: 1;
}
.overlay h2{
    font-size: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
}
.overlay hr {
    display: black;
    width: 0;
    transition: all .5s;
    border: none;
    border-bottom: 2px solid white;
    bottom: 0;
    left: 20px;
}

.card-box:hover .overlay{
    opacity: 1;
}

.genre-badge{
    margin-right: 10px;
}

.detail-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.detail-poster-area img{
    width: 100%;
}
.detail-info span{
    margin-right: 10px;
    font-size: 20px;
}
.review-box{
    border: 4px solid white;
}
.review-area{
    padding: 20px 40px 20px 40px;
}

.related-movie-box{
    display: flex;
    justify-content: center;
}

.related-movie-box .card-box{
    margin-bottom: 20px;
}

.detail-btn-box{
    margin-top : 40px;
    margin-bottom: 40px;
}

.detail-btn-area .detail-btns{
    margin-right : 20px;
    width : 10rem;
    height: 3rem;
}

.detail-badge-box ul{
    list-style: none;
    padding-left: 0px;
}

.movies-container{
    margin-top: 50px;
}

.side-btn-box{
    border : 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.side-btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.drop-down-close{
    display: none;
}

.drop-down-open{
    display: block;
}


.dropdown-box{
    border-top: 2px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sort-dropdown-btn-area{
    display: flex;
    justify-content: center;
}
#dropdown-item-button{
    color: white !important;
    background-color: black !important;
}

.sort-dropdown-btn-area button{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    min-width: 175px;
    border-radius: 0;

}
.sort-dropdown-btn-area button:hover{
    color: white !important;
    background-color: black !important;
}

.dropdown-name-area{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.side-names{
    font-size: 20px;
    font-weight: 400;
}

.range-value-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-bold-text{
    font-size: 18px;
}

.input-range__track--active{
    background: red !important;
}

.input-range__slider {
    background: red !important;
    border: 1px solid red !important;
}

.category-area{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.category-area li{
    margin: 10px;
}

.genre-btns{
    cursor: pointer;
    background: none !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
    font-weight: 900 !important;
    font-style: 1.3rem !important;
    letter-spacing: .3em !important;
    z-index: 1;
    text-shadow: 3px 3px 10px rgba(0,0,0,.45) !important;
    background: linear-gradient(80deg,orange,red,black) !important;
    opacity: 0.8;
}

.genre-btns:hover{
    opacity: 1;
}

.selected-genre-btns{
    opacity: 1 !important;
}

.single-card-box{
    min-width: 100%;
    width: 100%;
    height: 520px;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.2s linear;
}

.single-card-box:hover{
    cursor:pointer;
    -ms-transform: scale(1.05);  /* IE 9 */
    -webkit-transform: scale(1.05);  /* Safari 3-8 */
    transform: scale(1.05); 
}

.single-card-box .card-header,.card-body{
    width: 70%;
}

.card-header{
    display: flex;
}

.card-header ul{
    list-style: none;
    padding: 0;
    padding-left: 10px !important;
    margin-top : -5px;
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px!important;
    text-transform: uppercase;
    font-size: 25px!important;
}

.card-overview {
    color: #cfd6e1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.card-footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.card-footer ul li{
    padding-right: 5px;
}

.imb-score{
    padding-left: 5px;
}

.adult-over{
    color: red;
}

.adult-under{
    color: yellow;
}

.adult-text{
    font-style: italic;
    font-weight: 500;
}